################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Decorator/.vs/Decorator
/Decorator/Decorator/bin/Debug/net6.0
/Decorator/Decorator/obj
/Decorator/.vs/ProjectEvaluation
